
@{
    ViewData["Title"] = "Página Inicial - Minha Cidade, Minha Vida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />


<div class="content-wrapper">
    <div class="info-section">
        <h2 class="title-green">Você Sabia?</h2>
        <ul class="info-list">
            <li>ONGs locais dependem majoritariamente de doações individuais</li>
            <li>Muitas pessoas querem doar, mas não sabem por onde começar</li>
            <li>Alimentos e roupas são os itens mais doados no estado de São Paulo</li>
            <li>Mais de 60% dos brasileiros já fizeram algum tipo de doação</li>
        </ul>

        <div class="button-group">
            @* Botão Fazer Doação *@
            <a asp-controller="Home" asp-action="FacaUmaDoacao" class="btn-custom">Fazer Doação</a>
    
            @* Botão Receber Doação (Abre a tela cinza) *@
            <a asp-controller="Home" asp-action="PrecisaDeDoacao" class="btn-custom">Receber Doação</a>

            @* NOVO BOTÃO: Ver Instituições *@
            <a asp-controller="Home" asp-action="VerInstituicoes" class="btn-custom">Ver Instituições</a>
        </div>
    </div>

    
    
    <div class="map-placeholder">
        <h3 class="map-title">Encontre uma Campanha perto de você!</h3>

        <div class="map-box">
            <div id="map"></div>
        </div>
    </div>



</div>

<!-- ✅ 1️⃣ Leaflet JS PRIMEIRO -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- ✅ 2️⃣ Depois, seu código -->
<script>
    const map = L.map('map').setView([-22.363748, -47.378546], 13);

    
    var redIcon = L.icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-shadow.png',

    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34]
    });


    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    fetch('/Home/MapaCampanhas')
    .then(res => res.json())
    .then(pontos => {
    pontos.forEach(p => {
    L.marker([p.lat, p.lng],{ icon: redIcon }).addTo(map)
    .addTo(map)
    .bindPopup(`<a href="https://localhost:7121/Home/FacaUmaDoacao"><strong>${p.nome}</strong></a>
    
    <div class="popup-endereco">
    ${p.bairro}
    </div>
    `);
    });
    });
</script>

